@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <AuthorizeView>
        <Authorized>
            <MudText Typo="Typo.body1" Class="px-4 mt-3 mud-text-secondary">Welcome, </MudText>
            <MudNavLink Href="Account/Manage" IconColor="Color.Primary" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person2">@context.User.Identity?.Name</MudNavLink>
            <MudDivider Class="mt-2" />
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
    <MudText Typo="Typo.h6" Class="px-4 pt-3">API Center</MudText>
    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Harness APIs</MudText>
    <MudDivider Class="mt-2" />
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="apikeys" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Api">Api keys</MudNavLink>
    <MudNavLink Href="swagger/index.html" Match="NavLinkMatch.Prefix" Icon="@Icons.Custom.Uncategorized.BioHazard">Swagger</MudNavLink>
    <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ManageAccounts">Manage Profile</MudNavLink>
    <MudNavLink Href="auth" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AdminPanelSettings">Settings</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <form action="Account/Logout" method="post" class="mud-nav-item">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Default" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Register</MudNavLink>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}


